.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.my-container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1rem;
}

.mynav {
  width: 100%;
  background-color: #353942;
  height: 3rem;
  top: 0;
}

.mynav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin-left: 20%;
  margin-right: 20%;
}

.searchbar {
  float: right;
}

.my-link {
  float: left;
}

.home-link {
  padding-right: 1rem;
}

.usernav {
  border-radius: 0px 0px 10px 10px;
  height: 2rem;
  width: 100%;
  top: 3rem;
}

.usernav-container {
  float: right;
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 10rem;
  background-color:#007AFF;
  color: white;
  border-radius: 0px 0px 10px 10px;
  margin-right: 20%;
}

.myLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.myInput {
  border-radius: 5px;
  border: none;
  margin-right: 0.5rem;
  text-indent: 0.5rem;
}

.myButton {
  background-color: #007AFF;
  border: none;
  border-radius: 5px;
  color: white;
  margin-right: 0.5rem;
}

.myButton:hover {
  background-color: #0069D9;
}

.myDeleteButton {
  background-color: rgb(247, 66, 66);
  border: none;
  border-radius: 5px;
  color: white;
  margin-right: 0.5rem;
}

.myDeleteButton:hover {
  background-color: rgb(250, 96, 96);
}

.content-buttons {
  padding-bottom: 1rem;
  text-align: right;
}

.my-content {
  height: min-content;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px #ccc;
  white-space: pre-line;
  text-align: left;
}

.content-content {
  padding: 0rem 2rem 1rem 2rem;
  white-space: pre-line;
}

.author-content {
  padding: 0rem 2rem 1rem 2rem;
  text-align: right;
}

.date-content {
  text-align: right;
  padding-right: 2rem;
}

.my-content h1 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  text-align: center;
}

.my-message {
  height: min-content;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px #ccc;
  white-space: pre-line;
  align-content: center;
  margin-bottom: 1rem;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1rem;
}

.my-message #title, #author {
  height: 2rem;
  width: 80%;
  margin-top: 1rem;
}

.my-message #message {
  width: 80%;
  height: 30rem;
  text-indent: 0rem !important;
  padding-left: 0.5rem;
}

.my-message button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

textarea {
  resize: none;
  border-radius: 5px;
  margin-right: 0.5rem;
  text-indent: 0.5rem;
}

.background {
  background-color: #F2F2F2;
  height: 100vh;
  overflow: auto;
}

a.active {
  background-color: #aaaaaa !important;
}